In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/data.csv')

In [5]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

#

In [4]:
df = pd.read_csv('../data/New_York_NY.csv')
df.head()

/var/folders/pv/0tf02fqx1292h57zvcs1ll300000gn/T/ipykernel_71428/847196654.py:1: DtypeWarning: Columns (3,9,15,18,30,36,38,44,45,57,58,78,86,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/New_York_NY.csv')

,FILEID,STUSAB,SUMLEV,GEOVAR,GEOCOMP,CHARITER,CIFSN_x,LOGRECNO,GEOID,GEOCODE,...,P0050001,P0050002,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010
0,PLST,NY,50,0,0,0,0,2,0500000US36001,36001,...,16723,2716,303,186,2048,179,14007,11185,0,2822
1,PLST,NY,50,0,0,0,0,3,0500000US36003,36003,...,4502,544,78,0,466,0,3958,3808,0,150
2,PLST,NY,50,0,0,0,0,4,0500000US36005,36005,...,52815,15036,3815,272,10485,464,37779,7348,0,30431
3,PLST,NY,50,0,0,0,0,5,0500000US36007,36007,...,11706,3348,313,89,2889,57,8358,7573,0,785
4,PLST,NY,50,0,0,0,0,6,0500000US36009,36009,...,2746,671,113,78,480,0,2075,1338,0,737

In [5]:
df.describe()

,SUMLEV,GEOCOMP,CHARITER,CIFSN_x,LOGRECNO,REGION,DIVISION,STATE,STATENS,COUNTY,...,P0050001,P0050002,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010
count,573373.000000,573373.0,573373.0,573373.0,573373.000000,573373.0,573373.0,573373.0,573373.0,558522.000000,...,573373.000000,573373.000000,573373.000000,573373.000000,573373.000000,573373.000000,573373.000000,573373.000000,573373.000000,573373.000000
mean,697.133159,0.0,0.0,0.0,286688.000000,1.0,2.0,36.0,1779796.0,63.241828,...,54.380557,16.378804,5.355971,0.448968,9.915024,0.658842,38.001753,20.408875,0.503700,17.089178
std,126.902233,0.0,0.0,0.0,165518.672286,0.0,0.0,0.0,0.0,32.998569,...,1361.893643,408.734714,159.957711,11.742924,246.993812,20.757262,981.423501,541.115538,36.876924,481.670805
min,50.000000,0.0,0.0,0.0,2.000000,1.0,2.0,36.0,1779796.0,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,707.000000,0.0,0.0,0.0,143345.000000,1.0,2.0,36.0,1779796.0,45.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,750.000000,0.0,0.0,0.0,286688.000000,1.0,2.0,36.0,1779796.0,61.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,750.000000,0.0,0.0,0.0,430031.000000,1.0,2.0,36.0,1779796.0,87.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,970.000000,0.0,0.0,0.0,573374.000000,1.0,2.0,36.0,1779796.0,123.000000,...,608059.000000,186106.000000,62707.000000,5112.000000,110936.000000,7351.000000,421953.000000,226149.000000,5649.000000,190155.000000